<div class="view">
  <h1>Pharmacies</h1>
  <div id="map"
              class="my-2"
              style="width: 100%; height: 200px; border-radius: 7px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% @pharmacies.each do |pharmacy| %>
    <div class="pharmacy-card">
      <div class="pharmacy-card-infos">
        <div>
          <h2><%= pharmacy.name %></h2>
          <p><%= pharmacy.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
