<div class="view">
  <h1>Pharmacies</h1>
  <% @pharmacies.each do |pharmacy| %>
    <div class="pharmacy-card">
      <h1><%= pharmacy.name %></h1>
      <p><%= pharmacy.description %></p>
      <div class="card-bottom">
        <%= link_to pharmacy_path(pharmacy), :style=>'width: 50px; color: gray', method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash booking-delete"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
