// font-family: 'Poppins', sans-serif;
// font-family: 'Work Sans', sans-serif;

.pharma-header {
  padding-top: 15px;
  padding-bottom: 5px;
}

.pharma-header h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #272E35;
}

.pharma-header p {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #828282;
}
