.pharma-header {
  background: #0a617e;
  width: 100vw;
  margin: -10px -35px 5px -35px;
  padding: 20px;
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
  }
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: white;
  }
}
