.pharma-header {
  background: #0a617e;
  width: 100vw;
  margin: -10px -20px 5px -20px;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 3;
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    color: white;
  }
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    color: white;
  }
}

.card-product {
  overflow: hidden;
  height: 110px;
  width: 330px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.card-product img {
  height: 100%;
  width: 100px;
  object-fit: contain;
  padding: 8px;
  background: #F3F4F6;
}

.card-product h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
  color: #215A6C;
}

.card-product p {
  font-size: 14px;
  line-height: 1.9;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 6px;
  color: #215A6C;
  background-color: #E6F5F5;
  border-radius: 30px;
  width: 140px;
  height: 28px;
  padding-left: 9px;
  padding-top: 1px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product .card-drug-plus {
  position: absolute;
  right: 13px;
  top: 31px;
}

.btn-add-drug {
  width: 70%;
  margin: 25px 0;
  border-radius: 32px;
  border: none;
  padding: 10px;
  background-color: #0a617e;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.btn-non-add-drug {
  width: 83%;
  margin: 25px 32px;
  border-radius: 32px;
  border: none;
  padding: 10px;
  color: #215A6C;
  background-color: #E6F5F5;
  // background-color: #04b8f4;
  // color: white;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 5px;
}

.add-drugs-div {
  padding-top: 20px;
  align-items: center;
  text-align: center;
}
