h1 {
  padding: 0 50px 0 0;
}

.home-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.banner {
  display: flex;
  position: relative;
  padding: 30px 0;
}

#banner-search-bar {
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  padding: 5px 35px;
  .algolia-places {
    width: 77vw;
    margin-right: 20px;
    .ap-input {
      border-radius: 50px;
      background-color: white;
      height: 40px;
      font-size: 15px;
      box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.home-view {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  z-index: 0;
  padding-bottom: 15px 15px 80px 15px;
}

// @media screen and (max-width: 400px) {
//   .title {
//   padding-top: 15px;
//   padding-left: 15px;
//     h1 {
//     font-size: 45px;
//     }
//   }
//   img {
//     height: 90px;
//     width: 90px;
//   }
//   .sub-title {
//     padding-left: 25px;
//   }
//   #banner-search-bar {
//   height: fit-content;
//   width: 100%;
//   margin-top: 10px;
//   padding: 5px 20px;
//   }
// }
