// Specific CSS for your home-page

.title {
  padding-top: 15px;
  padding-left: 30px;
  h1 {
    font-size: 55px;
  }
}

.sub-title {
  padding-top: 30px;
  padding-left: 42px
}

.search-button {
  margin-top: 8px;
}
