.pending-view {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px 20px 80px 20px;
  justify-content: center;
  background-color: white;
  z-index: 0;
  opacity: 0.5;
}

.flash {
  padding: 16px 24px;
  position: absolute;
  top: 40%;
  width: 88vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: white;
  opacity: 0.9;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin: 10px;
}

.flash-content {
  flex-grow: 1;
}

.flash-warning {
  border: 2px solid gray;
}

.flash .fas {
  padding: 10px 0;
}
