.pharmacy-show {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  margin-bottom: -60px;
  border-radius: 20px;
  color: white;
  background-color: #00243D;
  z-index: 1;
  h1 {
    font-weight: bold;
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}

.pharmacy-show-card #map {
  width: 95vw;
  height: 200px;
  margin-bottom: -10px;
  z-index: 2;
}

canvas.mapboxgl-canvas {
  height: -webkit-fill-available !important;
  width: -webkit-fill-available !important;
}
