.pharmacy-view #map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.swiper-wrapper {
  margin: 0 20px;
  width: 70vw;
}

.swiper {
  z-index: 2;
  width: 90vw;
  height: 140px;
  position: absolute;
  bottom: 90px;
  .swiper-slide {
    background-color: white;
    padding: 20px;
    a h2 {
      color: rgb(38,88,83);
      font-weight: bold;
      font-size: 25px;
    }
    a p {
      color: rgb(38,88,83);
      font-size: 15px;
    }
  }
}

.marker {
  background-image: asset-url('marker.png');
  width: 27px;
  height: 41px;
  background-size: cover;
  cursor: pointer;
  &.active {
    filter: hue-rotate(-170deg);
  }
}

.pharmacy-view a:hover {
  text-decoration: none;
}
