.pharmacy-view h1 {
  font-weight: bold;
  background-color: #00243D;
  z-index: 1;
}

.pharmacy-view #map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}
.swiper {
  z-index: 2;
  width: 90vw;
  height: 150px;
  position: absolute;
  bottom: 90px;
  .swiper-slide {
    background-color: white;
    padding: 20px;
    width: 80vw;
  }
}

.marker {
  background-image: asset-url('marker.png');
  width: 27px;
  height: 41px;
  background-size: cover;
  cursor: pointer;
  &.active {
    filter: hue-rotate(300deg);
  }
}

.pharmacy-view a:hover {
  text-decoration: none;
}
