.pharmacy-show {
  padding: 20px 20px 40px 20px;
  margin-bottom: -60px;
  border-radius: 20px 20px 0 0;
  color: white;
  background-color: #00243D;
  z-index: 1;
  h1 {
    font-weight: bold;
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}

.pharmacy-show-card {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  text-decoration: none;
}

.pharmacy-show-card #map {
  width: 95vw;
  height: 300px;
  margin-bottom: -10px;
  z-index: 2;
}

canvas.mapboxgl-canvas {
  height: -webkit-fill-available !important;
  width: -webkit-fill-available !important;
}
