<div class="home-view">
  <div class="sigle">
    <div class="home-top" id="haut">
      <h1>Drug<br/><strong>Dealer</strong></h1>
      <%= image_tag "logo.png", style: 'height:50px;width:50px' %>
    </div>
    <div class="view sub-title">
      <h3>Focus on <strong>what matters</strong> while we do the rest</h2>
    </div>

    <div class="banner">
      <div id="banner-search-bar">
        <%= form_tag pharmacies_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            id: "address-input",
            placeholder: "Enter your location"
          %>
        <% end %>
      </div>
    </div>
    <div class="slidown">
      <div class='scrolldown'>
        <div class="chevrons">
          <div class='chevrondown'></div>
          <div class='chevrondown'></div>
        </div>
      </div>
    </div>
  </div>
  <div class="value">
    <img src="https://img.icons8.com/ios/50/000000/lightning-bolt--v1.png"/>
  </div>
    <div class="advantage">
      <h6>Top</h6><br>
      <h4>application for medication delivery</h4>
    </div>
  <div class="cards">
    <hr>
    <div class="value">
      <img src="https://img.icons8.com/ios/100/000000/map--v2.png" style="height: 50px;"/>
    </div>
    <div class="advantage">
      <h6>Choose</h6><br>
      <h4 class="card__title">your pharmacy in Paris</h4>
    </div>
    <hr>
    <div class="value">
      <img src="https://img.icons8.com/pastel-glyph/128/000000/facebook-like--v2.png" style="height: 59px;"/>
    </div>
    <div class="advantage">
      <h6>Take advantage</h6><br>
      <h4 class="card__title">of your pharmacist's advice</h4>
    </div>
    <hr>
    <div class="value">
      <img src="https://img.icons8.com/ios/100/000000/globe--v2.png" style="height: 50px;"/>
    </div>
    <div class="advantage">
      <h6>Delivery</h6><br>
      <h4 class="card__title">for yourself or a loved one and save time</h4>
    </div>
    <a href="#haut" class="button-up">Up</a>
  </div>
</div>
