.button-meds-index {
  padding: 0.3em 1.2em;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: #00B8F5;
  position: relative;
  font-size: 20px;
  width: 100%;
  }

.button-pharma-index {
  text-decoration: underline;
  color: grey;
  text-align: center;
}

.pharmacy-show-top {
  margin: 10px 0 20px 5px;
}
