 .main{
  padding: 10px;
  margin: 10px 0;
}

.main2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-prescription {
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  object-fit: cover;
}

.edit_order {
  display: flex;
  align-items: center;
}

.order_prescriptions > label {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 0;
}

.btn-prescription {
  width: 97px;
  height: 47px;
  border-radius: 50%;
  border: none;
  padding: 10px;
  background-color: #000507;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.form-group {
  margin: 0 20px 0 0;
  background-color: white;
  border-radius: 32px;
}
