 .main{
  padding: 25px 20px;
  margin: -15px -20px 10px -20px;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.main2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
}

.card-prescription {
  width: 70px;
  height: 70px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  object-fit: cover;
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.2);
}

.edit_order {
  display: flex;
  align-items: center;
}

.order_prescriptions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.order_prescriptions > label {
  color: white;
  background-color: grey;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin: 0;
}

.btn-prescription {
  width: 97px;
  height: 47px;
  border-radius: 50%;
  border: none;
  padding: 10px;
  background-color: #000507;
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.form-group {
  margin: 0 20px 0 0;
  border-radius: 32px;
}
