.searchadrug {
  border-radius: 30px;
  width: 73vw;
  position: relative;
  padding-top: 7px;
}

.button_prescription {
  border-radius: 50px;
  position: absolute;
  top: 94px;
  right: 11px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3em 1.2em;
  text-decoration: none;
  text-align: center;
  border: none;
  background: #00B8F5;
  width: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: rotate(112deg);
}
