.drug-index-search {
  display: flex;
  flex-direction: row;
}

.searchadrug {
  border-radius: 30px;
  width: 80vw;
  padding-top: 7px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #B4B4B4;
  font-size: 14px;
}

.drug-search-bard-button {
  border-radius: 50px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.3em 1.2em;
  text-decoration: none;
  text-align: center;
  border: none;
  background: transparent;
  width: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transform: rotate(208deg);
  margin-left: 10px;
  color: #00B8F5;
}
