.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 25px 25px 0 0;
  position: fixed;
  padding: 5px 20px;
  bottom: 0;
  opacity: 1;
  backdrop-filter: blur(8px);
  height: fit-content;
  box-shadow: 0 0 15px rgba(0,0,0,0.07);
  width: 100vw;
  z-index: 2;
}

.footer .footer-btn img {
  height: 28px;
}

.footer .footer-btn a {
  height: 40px;
}

#action_bar {
    background-color: #FFFFFF;
    color: #FFFFFF;
    clear: both;
    overflow: hidden;
}

.cart {
  position: relative;
}
.total {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 8pt;
  text-align: center;
  line-height: 20px;
  margin-left: 22px;
  margin-bottom: 5px;
  top: 2px;
  z-index: 50;
}

.glow {
  padding: 10px;
}

.glow.active {
  background-color: rgb(225,225,225);
  border-radius: 50%;
  padding: 10px;
}
