.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  position: fixed;
  padding: auto;
  bottom: 0;
  left: 0;
  opacity: 1;
  backdrop-filter: blur(8px);
  height: fit-content;
  box-shadow: 0 0 15px rgba(0,0,0,0.07);
  width: 100vw;
  z-index: 3;
}

.footer .footer-btn img {
  height: 28px;
}

.footer .footer-btn a {
  height: 40px;
}

#action_bar {
    background-color: #FFFFFF;
    color: #FFFFFF;
    clear: both;
    overflow: hidden;
}

.cart {
  position: relative;
}
.total {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 8pt;
  text-align: center;
  line-height: 20px;
  margin-left: 22px;
  margin-bottom: 5px;
  top: 2px;
  z-index: 50;
}

.glow {
  padding: 15px 20px;
}

.glow.active {
  background-color: rgb(4,184,244);
  padding: 15px 20px;
}

.far, .fas {
  color: black;
}

.fa-map, .fa-home, .fa-shopping-cart, .fa-tachometer-alt, .fa-user {
  font-size: 25px;
}

.btn-active {
  color: rgb(245, 245, 245);
}
