.pharmacy-card {
  background: white;
  margin: 5px 0;
  height: 60px;
  border-radius: 7px;
}

.pharmacy-card h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.pharmacy-card p {
  font-size: 9px;
  opacity: .7;
  margin: 0;
}

.pharmacy-card .pharmacy-card-infos {
  padding: 10px 16px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.pharmacy-card-infos .pharmacy-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
