.view {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px 20px 75px 20px;
  justify-content: center;
  background-color: white;
  z-index: 0;
  margin-top: 60px;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}
