.view {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  background-color: white;
  z-index: 0;
  margin-top: 85px;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}
